body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#main {
    display: grid;
    form {
        text-align: center;
        align-self: center;
    }
    input[type=submit] {
        border-radius: 8px;
        border: 1px solid lightgrey;
        background-color: #eee;
        height: 25px;
        width: 100px;
        &:hover {
            background-color: #ddd
        }
        &:focus {
            outline: none;
        }
    }
    option {
        // margin: 3px 2px 3px 2px;
        line-height: 30px;
    }
}

.label {
    line-height: 60px;
}
.input_label {
    line-height: 30px;
}
.main_input {
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 2px 5px 2px 5px;
    &:focus {
        outline: none;
    }
}
.main_input_select {
    @extend .main_input;
}

.button_nav {
    #button_grid {
        display: grid;
    }
    input[type=submit], button {
        border: 1px solid lightgrey;
        background-color: #eee;
        height: 50px;
        &:hover {
            background-color: #ddd;
        }
    }
}
ul {
    padding-left: 7px;
}
.list_grid {
    display: grid;
    input {
        border: 1px solid lightgrey;
    }
    .button_details {
        background-color: rgb(226, 226, 151);
        &:hover {
            background-color: darken(rgb(226, 226, 151), 10%);
        }
        grid-area: 1 / 2 / span 1 / span 1;
    }
    .button_delete {
        background-color: rgb(207, 125, 125);
        &:hover {
            background-color: darken(rgb(207, 125, 125), 10%);
        }
        grid-area: 1 / 3 / span 1 / span 1;
    }
}
#edit_series, #edit_movie, #edit_person {
    height: 30px;
}
#edit_form input[type=text] {
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    &:focus {
        outline: none;
    }
}
#new_actor,
#new_director,
#new_person,
#existing_person,
#new_form input[type=submit],
#select_form input[type=submit],
#new_movie,
#new_series,
#new_directed_movie,
#new_directed_series,
#new_movie_button,
#existing_movie,
#new_series_button,
#existing_series,
#new_directed_movie_button,
#existing_directed_movie,
#new_directed_series_button,
#existing_directed_series,
#edit_div input[type=submit],
#new_person_director,
#existing_person_director {
    $color: rgb(152, 192, 152);
    background-color: $color;
    &:hover {
        background-color: darken($color, 10%);
    }
    &:focus {
        outline: none;
    }
    border: 1px solid lightgrey;
    border-radius: 8px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
}

#back {

}


@media only screen and (max-width: 425px) {
    #main {
        grid-template-columns: 1fr;
    }
    .button_nav {
        #button_grid {
            grid-template-columns: 1fr;
        }
        input[type=submit] {
            display: none;
        }
        .enabled {
            input[type=submit] {
                display: block;
            }
        }
        button {
            width: 100%;
            background-color: #eee;
            &:focus {
                outline: none;
                background-color: #eee;
            }
        }
    }
    .list_grid {
        grid-template-columns: 3fr 1fr 1fr;
    }
}
@media only screen and (min-width: 426px) {
    #main {
        grid-template-columns: 1fr 1fr;
    }
    .button_nav {
        #button_grid {
            grid-template-columns: repeat(7, 1fr);
        }
        button {
            display: none;
        }
    }
    .list_grid {
        grid-template-columns: 5fr 1fr 1fr;
        height: 30px;
        .name {
            align-self: center;
        }
    }
}